

.hero{
	width: 100%;
	height: 100vh;
	background-image: linear-gradient(to right, rgba($color-primary,.47), rgba($color-primary,.47)), url(../images/bg-1.jpg);	
	background-size: cover;

	margin-top:  -4rem;
	// position: relative;
}
